:root {

}

@font-face {
    font-family: Montserrat;
    src: url(./Resources/Montserrat-VariableFont_wght.ttf);
  }

body {
    font-family: Montserrat, "sans serif";
    height: 100vh;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    max-width: 100vw;
    overflow: hidden;
}